{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
</div>

{{ if .Params.toc }}
<details>
<summary>Index</summary>
{{ .TableOfContents }}
</details>
{{ end }}

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
